<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark navbar-grey ">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h3"><a class="text-decoration-none text-white" href="VerMovimientosController?ruta=dashboard&mesDado=${mesDado}">Inicio</a></span>
        <span class="navbar-brand mb-0 h3"><a class="text-decoration-none text-white" href="MovimientoController?ruta=nuevoIngreso">Agregar Ingreso</a></span>
        <span class="navbar-brand mb-0 h3"><a class="text-decoration-none text-white" href="MovimientoController?ruta=nuevoEgreso">Agregar Egreso</a></span>
        <span class="navbar-brand mb-0 h3"><a class="text-decoration-none text-white" href="MovimientoController?ruta=nuevaTransferencia">Agregar Transferencia</a></span>
        <span class="navbar-brand mb-0 h3"><a class="text-decoration-none text-white" href="CuentaController?ruta=verCuentas">Mis Cuentas</a></span>
        <span class="navbar-brand mb-0 h3"><a class="text-decoration-none text-white" href="LoginController?ruta=salir">Salir</a></span>
    </div>
</nav>
</body>
</html>